# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Environnements virtuels
.venv/
env/
venv/

# Media / uploads
media/

# IDE / editor
.vscode/
.idea/

# Logs
*.log

# Static files (optionnel si tu gères avec collectstatic)
staticfiles/



# Python
*.pyc
__pycache__/
*.pyo

# Virtual environment
.venv/

# Database
db.sqlite3

# Media files
media/

# VS Code settings
.vscode/
